<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#读取主体登记信息" data-toc-modified-id="读取主体登记信息-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>读取主体登记信息</a></span><ul class="toc-item"><li><span><a href="#读取" data-toc-modified-id="读取-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>读取</a></span><ul class="toc-item"><li><span><a href="#读取主体登记" data-toc-modified-id="读取主体登记-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>读取主体登记</a></span></li><li><span><a href="#查看当月成立的企业数量" data-toc-modified-id="查看当月成立的企业数量-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>查看当月成立的企业数量</a></span></li><li><span><a href="#提取本月注吊销及迁出数据" data-toc-modified-id="提取本月注吊销及迁出数据-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>提取本月注吊销及迁出数据</a></span></li><li><span><a href="#删除注吊销及迁出数据" data-toc-modified-id="删除注吊销及迁出数据-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>删除注吊销及迁出数据</a></span></li></ul></li><li><span><a href="#提取需要特征" data-toc-modified-id="提取需要特征-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>提取需要特征</a></span><ul class="toc-item"><li><span><a href="#提取主体登记表" data-toc-modified-id="提取主体登记表-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>提取主体登记表</a></span></li><li><span><a href="#提取注吊销表" data-toc-modified-id="提取注吊销表-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>提取注吊销表</a></span></li></ul></li><li><span><a href="#更改经营状态" data-toc-modified-id="更改经营状态-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>更改经营状态</a></span></li><li><span><a href="#合并两表" data-toc-modified-id="合并两表-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>合并两表</a></span></li><li><span><a href="#更改列名" data-toc-modified-id="更改列名-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>更改列名</a></span></li><li><span><a href="#缺失值填补" data-toc-modified-id="缺失值填补-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>缺失值填补</a></span></li><li><span><a href="#类型转换" data-toc-modified-id="类型转换-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>类型转换</a></span></li><li><span><a href="#行业代码只提取第一个" data-toc-modified-id="行业代码只提取第一个-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>行业代码只提取第一个</a></span></li><li><span><a href="#设置nbxh为索引" data-toc-modified-id="设置nbxh为索引-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>设置nbxh为索引</a></span></li></ul></li><li><span><a href="#分类" data-toc-modified-id="分类-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>分类</a></span><ul class="toc-item"><li><span><a href="#划分企业年限" data-toc-modified-id="划分企业年限-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>划分企业年限</a></span></li><li><span><a href="#地区分类" data-toc-modified-id="地区分类-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>地区分类</a></span></li><li><span><a href="#三次产业分类" data-toc-modified-id="三次产业分类-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>三次产业分类</a></span></li><li><span><a href="#规模分类" data-toc-modified-id="规模分类-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>规模分类</a></span></li></ul></li><li><span><a href="#添加特征" data-toc-modified-id="添加特征-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>添加特征</a></span><ul class="toc-item"><li><span><a href="#添加特征X1_2、X3、X4" data-toc-modified-id="添加特征X1_2、X3、X4-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>添加特征X1_2、X3、X4</a></span></li><li><span><a href="#将固定企业类型的公积金赋值为0" data-toc-modified-id="将固定企业类型的公积金赋值为0-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>将固定企业类型的公积金赋值为0</a></span></li><li><span><a href="#添加特征X5、X6、X12、X13、X15（来自企业变更表）" data-toc-modified-id="添加特征X5、X6、X12、X13、X15（来自企业变更表）-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>添加特征X5、X6、X12、X13、X15（来自企业变更表）</a></span><ul class="toc-item"><li><span><a href="#读取企业变更表" data-toc-modified-id="读取企业变更表-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>读取企业变更表</a></span></li><li><span><a href="#提取特征X5" data-toc-modified-id="提取特征X5-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>提取特征X5</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.2.1"><span class="toc-item-num">3.3.2.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.2.2"><span class="toc-item-num">3.3.2.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X6" data-toc-modified-id="提取特征X6-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>提取特征X6</a></span><ul class="toc-item"><li><span><a href="#统计每个nbxh的每个变更事项出现次数" data-toc-modified-id="统计每个nbxh的每个变更事项出现次数-3.3.3.1"><span class="toc-item-num">3.3.3.1&nbsp;&nbsp;</span>统计每个nbxh的每个变更事项出现次数</a></span></li><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.3.2"><span class="toc-item-num">3.3.3.2&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.3.3"><span class="toc-item-num">3.3.3.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#X12、X13（保留变更事项与投资资本相关列）" data-toc-modified-id="X12、X13（保留变更事项与投资资本相关列）-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>X12、X13（保留变更事项与投资资本相关列）</a></span></li><li><span><a href="#提取特征X12" data-toc-modified-id="提取特征X12-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>提取特征X12</a></span><ul class="toc-item"><li><span><a href="#统计每个nbxh的每个变更事项出现次数" data-toc-modified-id="统计每个nbxh的每个变更事项出现次数-3.3.5.1"><span class="toc-item-num">3.3.5.1&nbsp;&nbsp;</span>统计每个nbxh的每个变更事项出现次数</a></span></li><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.5.2"><span class="toc-item-num">3.3.5.2&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.5.3"><span class="toc-item-num">3.3.5.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X13" data-toc-modified-id="提取特征X13-3.3.6"><span class="toc-item-num">3.3.6&nbsp;&nbsp;</span>提取特征X13</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.3.6.1"><span class="toc-item-num">3.3.6.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.3.6.2"><span class="toc-item-num">3.3.6.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X15（本月没有）" data-toc-modified-id="提取特征X15（本月没有）-3.3.7"><span class="toc-item-num">3.3.7&nbsp;&nbsp;</span>提取特征X15（本月没有）</a></span><ul class="toc-item"><li><span><a href="#将X15列赋值为0" data-toc-modified-id="将X15列赋值为0-3.3.7.1"><span class="toc-item-num">3.3.7.1&nbsp;&nbsp;</span>将X15列赋值为0</a></span></li></ul></li></ul></li><li><span><a href="#添加特征X7(分支机构开设数量，来自分支机构表)" data-toc-modified-id="添加特征X7(分支机构开设数量，来自分支机构表)-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>添加特征X7(分支机构开设数量，来自分支机构表)</a></span><ul class="toc-item"><li><span><a href="#读取文件" data-toc-modified-id="读取文件-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>读取文件</a></span></li><li><span><a href="#fzjg_nums为series,将其变为dataframes" data-toc-modified-id="fzjg_nums为series,将其变为dataframes-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>fzjg_nums为series,将其变为dataframes</a></span></li><li><span><a href="#找到对应的nbxh" data-toc-modified-id="找到对应的nbxh-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>找到对应的nbxh</a></span></li><li><span><a href="#删除空值" data-toc-modified-id="删除空值-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>删除空值</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.4.5"><span class="toc-item-num">3.4.5&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#添加特征X10、-X11（来自企业关系人表）" data-toc-modified-id="添加特征X10、-X11（来自企业关系人表）-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>添加特征X10、 X11（来自企业关系人表）</a></span><ul class="toc-item"><li><span><a href="#提取特征X10" data-toc-modified-id="提取特征X10-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>提取特征X10</a></span><ul class="toc-item"><li><span><a href="#nums为series,将其变为dataframes" data-toc-modified-id="nums为series,将其变为dataframes-3.5.1.1"><span class="toc-item-num">3.5.1.1&nbsp;&nbsp;</span>nums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.5.1.2"><span class="toc-item-num">3.5.1.2&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#提取特征X11" data-toc-modified-id="提取特征X11-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>提取特征X11</a></span><ul class="toc-item"><li><span><a href="#sums为series,将其变为dataframes" data-toc-modified-id="sums为series,将其变为dataframes-3.5.2.1"><span class="toc-item-num">3.5.2.1&nbsp;&nbsp;</span>sums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.5.2.2"><span class="toc-item-num">3.5.2.2&nbsp;&nbsp;</span>join</a></span></li></ul></li></ul></li><li><span><a href="#添加特征X14（迁移申请次数，来自迁移表）" data-toc-modified-id="添加特征X14（迁移申请次数，来自迁移表）-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>添加特征X14（迁移申请次数，来自迁移表）</a></span><ul class="toc-item"><li><span><a href="#读取并查看" data-toc-modified-id="读取并查看-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>读取并查看</a></span></li><li><span><a href="#sums为series,将其变为dataframes" data-toc-modified-id="sums为series,将其变为dataframes-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>sums为series,将其变为dataframes</a></span></li><li><span><a href="#join" data-toc-modified-id="join-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>join</a></span></li></ul></li><li><span><a href="#添加特征X8、X9、X16、X17、X18" data-toc-modified-id="添加特征X8、X9、X16、X17、X18-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>添加特征X8、X9、X16、X17、X18</a></span></li></ul></li><li><span><a href="#调整顺序" data-toc-modified-id="调整顺序-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>调整顺序</a></span></li><li><span><a href="#去除重复值" data-toc-modified-id="去除重复值-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>去除重复值</a></span><ul class="toc-item"><li><span><a href="#重设索引" data-toc-modified-id="重设索引-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>重设索引</a></span></li><li><span><a href="#统计重复" data-toc-modified-id="统计重复-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>统计重复</a></span></li><li><span><a href="#删除重复" data-toc-modified-id="删除重复-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>删除重复</a></span></li></ul></li><li><span><a href="#保存" data-toc-modified-id="保存-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>保存</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

# 读取主体登记信息

## 读取

### 读取主体登记

In [2]:
file = pd.read_csv('./8月份活跃度数据/主体登记/exportsql.20220824100507.gbk.csv', encoding='gb18030')
print(file.info(null_counts = True))
file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3086538 entries, 0 to 3086537
Data columns (total 15 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   #nbxh(C|50)    3086538 non-null  int64
 1   qymc(C|300)    3086526 non-null  object
 2   uniscid(C|50)  2556307 non-null  object
 3   zch(C|50)      3086087 non-null  object
 4   fzrxm(C|500)   3085810 non-null  object
 5   jjhklb(C|2)    3086538 non-null  int64
 6   qylx(C|6)      3086538 non-null  int64
 7   hydm(C|8)      3086538 non-null  object
 8   djjg(C|20)     3086538 non-null  int64
 9   clrq(D)        3086538 non-null  object
 10  hzrq(D)        3086537 non-null  object
 11  zczb(N|21|6)   3086534 non-null  float64
 12  jyzt(C|4)      2165176 non-null  float64
 13  tslx(C|2)      3086538 non-null  int64
 14  jyfw(C|4000)   3085134 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 353.2+ MB
None

,#nbxh(C|50),qymc(C|300),uniscid(C|50),zch(C|50),fzrxm(C|500),jjhklb(C|2),qylx(C|6),hydm(C|8),djjg(C|20),clrq(D),hzrq(D),zczb(N|21|6),jyzt(C|4),tslx(C|2),jyfw(C|4000)
0,142000009537608516,监利县同富房地产咨询有限公司,91421023MA499WNN3D,421023000084020,胡壮,3,1130,K7030,421023999,2019-07-11,2019-07-11,100.0,1.0,6,商品房、二手房租赁、销售及相关信息咨询服务。
1,142000009537610596,麻城市禾文企业管理咨询工作室,91421181MA499WNPX4,421181000114783,吴俊兰,3,4540,L7299,421181002,2019-07-11,2019-07-11,10.0,1.0,6,企业管理咨询；计算机软硬件服务；信息技术咨询服务；会务服务；展览展示服务；建筑工程设计咨询；...

In [17]:
pd.set_option('display.max_rows', 20)

In [13]:
file['year-month'] = file['hzrq(D)'].str[:7]
print(file['year-month'].value_counts())
file['day'] = file['hzrq(D)'].str[8:]
file['day'] = file['day'].astype(np.float)
print(file['day'].value_counts())

2022-03    85021
2022-06    84611
2022-05    74637
2021-12    71478
2022-07    70502
           ...
1903-02        1
0199-03        1
1980-04        1
1984-02        1
2076-07        1
Name: year-month, Length: 528, dtype: int64
28.0    119549
25.0    115096
17.0    111994
30.0    111605
22.0    110589
15.0    109746
16.0    109476
23.0    109050
18.0    108792
20.0    108775
27.0    108509
24.0    107702
8.0     107572
29.0    104926
26.0    103989
21.0    102347
19.0    101044
10.0    100297
14.0     99997
13.0     99405
9.0      99267
12.0     97919
11.0     97897
7.0      94349
2.0      86151
6.0      85624
1.0      81941
4.0      80166
5.0      76743
3.0      76126
31.0     59894
Name: day, dtype: int64

In [14]:
file['new-year-month'] = file['clrq(D)'].str[:7]
print(file['new-year-month'].value_counts())
file['new-day'] = file['clrq(D)'].str[8:]
file['new-day'] = file['new-day'].astype(np.float)
print(file['new-day'].value_counts())

2013-12    54444
2022-03    52514
2021-12    44349
2022-06    37630
2021-11    34322
           ...
1964-10        1
1972-05        1
1900-07        1
1963-12        1
0198-10        1
Name: new-year-month, Length: 772, dtype: int64
28.0    116587
18.0    111185
27.0    109837
25.0    109432
15.0    108148
22.0    107476
24.0    106702
29.0    106303
17.0    105045
8.0     104879
20.0    104505
26.0    104352
16.0    104320
21.0    104208
9.0     104208
23.0    103531
12.0    102609
10.0    102434
14.0    101816
30.0    101311
19.0    101281
13.0    101106
11.0    101024
7.0      93415
6.0      93115
5.0      86073
4.0      85517
2.0      84180
1.0      82668
3.0      81602
31.0     57669
Name: new-day, dtype: int64

In [15]:
file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3086538 entries, 0 to 3086537
Data columns (total 19 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   #nbxh(C|50)     3086538 non-null  int64
 1   qymc(C|300)     3086526 non-null  object
 2   uniscid(C|50)   2556307 non-null  object
 3   zch(C|50)       3086087 non-null  object
 4   fzrxm(C|500)    3085810 non-null  object
 5   jjhklb(C|2)     3086538 non-null  int64
 6   qylx(C|6)       3086538 non-null  int64
 7   hydm(C|8)       3086538 non-null  object
 8   djjg(C|20)      3086538 non-null  int64
 9   clrq(D)         3086538 non-null  object
 10  hzrq(D)         3086537 non-null  object
 11  zczb(N|21|6)    3086534 non-null  float64
 12  jyzt(C|4)       2165176 non-null  float64
 13  tslx(C|2)       3086538 non-null  int64
 14  jyfw(C|4000)    3085134 non-null  object
 15  year-month      3086537 non-null  object
 16  day             3086537 non-null  float64
 17  new-year-month  3086538 non-null  object
 18  new-day         3086538 non-null  float64
dtypes: float64(4), int64(5), object(10)
memory usage: 447.4+ MB

### 查看当月成立的企业数量

In [34]:
file['new-this-month'] = None
file.loc[file[((file['new-year-month'] == '2022-07') & (file['new-day'] >= 25)) | 
              ((file['new-year-month'] == '2022-08') & (file['new-day'] <= 24))].index, 'new-this-month'] = 1
file['new-this-month'] = file['new-this-month'].astype(np.float)

In [35]:
file['new-this-month'].fillna(value=0, inplace=True)

In [36]:
file[file['new-this-month'] == 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30062 entries, 1197877 to 3005288
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #nbxh(C|50)     30062 non-null  int64
 1   qymc(C|300)     30062 non-null  object
 2   uniscid(C|50)   30062 non-null  object
 3   zch(C|50)       30062 non-null  object
 4   fzrxm(C|500)    30062 non-null  object
 5   jjhklb(C|2)     30062 non-null  int64
 6   qylx(C|6)       30062 non-null  int64
 7   hydm(C|8)       30062 non-null  object
 8   djjg(C|20)      30062 non-null  int64
 9   clrq(D)         30062 non-null  object
 10  hzrq(D)         30062 non-null  object
 11  zczb(N|21|6)    30062 non-null  float64
 12  jyzt(C|4)       29823 non-null  float64
 13  tslx(C|2)       30062 non-null  int64
 14  jyfw(C|4000)    30062 non-null  object
 15  year-month      30062 non-null  object
 16  day             30062 non-null  float64
 17  new-year-month  30062 non-null  object
 18  new-day         30062 non-null  float64
 19  this-month      30062 non-null  float64
 20  new-this-month  30062 non-null  float64
dtypes: float64(6), int64(5), object(10)
memory usage: 5.0+ MB

### 提取本月注吊销及迁出数据

In [37]:
file['this-month'] = None
file.loc[file[((file['year-month'] == '2022-07') & (file['day'] >= 25)) | 
              ((file['year-month'] == '2022-08') & (file['day'] <= 24))].index, 'this-month'] = 1
file['this-month'] = file['this-month'].astype(np.float)
file['this-month'].fillna(value=0, inplace=True)

In [39]:
# 注销（07）、吊销（11）、迁入（09）、迁出（13）
revoke = file[((file['this-month'] == 1) & (file['tslx(C|2)'] == 7)) | ((file['this-month'] == 1) & (file['tslx(C|2)'] == 11)) | ((file['this-month'] == 1) & (file['tslx(C|2)'] == 13))]
revoke.info(null_counts = True)
print('注销：', len(revoke[revoke['tslx(C|2)'] == 7]))
print('吊销：', len(revoke[revoke['tslx(C|2)'] == 11]))
print('迁出：', len(revoke[revoke['tslx(C|2)'] == 13]))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13516 entries, 25 to 3086371
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #nbxh(C|50)     13516 non-null  int64
 1   qymc(C|300)     13516 non-null  object
 2   uniscid(C|50)   13298 non-null  object
 3   zch(C|50)       13516 non-null  object
 4   fzrxm(C|500)    13516 non-null  object
 5   jjhklb(C|2)     13516 non-null  int64
 6   qylx(C|6)       13516 non-null  int64
 7   hydm(C|8)       13516 non-null  object
 8   djjg(C|20)      13516 non-null  int64
 9   clrq(D)         13516 non-null  object
 10  hzrq(D)         13516 non-null  object
 11  zczb(N|21|6)    13516 non-null  float64
 12  jyzt(C|4)       13514 non-null  float64
 13  tslx(C|2)       13516 non-null  int64
 14  jyfw(C|4000)    13516 non-null  object
 15  year-month      13516 non-null  object
 16  day             13516 non-null  float64
 17  new-year-month  13516 non-null  object
 18  new-day         13516 non-null  float64
 19  this-month      13516 non-null  float64
 20  new-this-month  13516 non-null  float64
dtypes: float64(6), int64(5), object(10)
memory usage: 2.3+ MB
注销： 13423
吊销： 41
迁出： 52

### 删除注吊销及迁出数据

In [40]:
# 删除所有注吊销数据
file.drop(file[file['tslx(C|2)'] == 7].index, inplace=True)
file.drop(file[file['tslx(C|2)'] == 11].index, inplace=True)
file.drop(file[file['tslx(C|2)'] == 13].index, inplace=True)
file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1826316 entries, 0 to 3086537
Data columns (total 21 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   #nbxh(C|50)     1826316 non-null  int64
 1   qymc(C|300)     1826313 non-null  object
 2   uniscid(C|50)   1823303 non-null  object
 3   zch(C|50)       1826292 non-null  object
 4   fzrxm(C|500)    1826247 non-null  object
 5   jjhklb(C|2)     1826316 non-null  int64
 6   qylx(C|6)       1826316 non-null  int64
 7   hydm(C|8)       1826316 non-null  object
 8   djjg(C|20)      1826316 non-null  int64
 9   clrq(D)         1826316 non-null  object
 10  hzrq(D)         1826315 non-null  object
 11  zczb(N|21|6)    1826313 non-null  float64
 12  jyzt(C|4)       1400431 non-null  float64
 13  tslx(C|2)       1826316 non-null  int64
 14  jyfw(C|4000)    1826273 non-null  object
 15  year-month      1826315 non-null  object
 16  day             1826315 non-null  float64
 17  new-year-month  1826316 non-null  object
 18  new-day         1826316 non-null  float64
 19  this-month      1826316 non-null  float64
 20  new-this-month  1826316 non-null  float64
dtypes: float64(6), int64(5), object(10)
memory usage: 306.5+ MB

## 提取需要特征

提取
> `jjhklb`经济户口类别：用于经济户口**分类**     
    `nbxh`内部序号：索引    
    `hydm`行业代码：用于行业**分类**    
    `djjg`登记机关：用于地区**分类**    
    `zczb`注册资本：用于规模**分类**    
    `jyzt`经营状态：0， 1    
    `clrq`成立日期：用于存续时间**分类**   
    `qylx(C|6)` 用于决定哪些企业公积金为0

### 提取主体登记表

In [41]:
new_file = file[['jjhklb(C|2)', '#nbxh(C|50)', 'hydm(C|8)', 'djjg(C|20)', 'zczb(N|21|6)', 'jyzt(C|4)', 'clrq(D)', 'qylx(C|6)']]
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1826316 entries, 0 to 3086537
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   jjhklb(C|2)   1826316 non-null  int64
 1   #nbxh(C|50)   1826316 non-null  int64
 2   hydm(C|8)     1826316 non-null  object
 3   djjg(C|20)    1826316 non-null  int64
 4   zczb(N|21|6)  1826313 non-null  float64
 5   jyzt(C|4)     1400431 non-null  float64
 6   clrq(D)       1826316 non-null  object
 7   qylx(C|6)     1826316 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 125.4+ MB

### 提取注吊销表

In [42]:
new_revoke = revoke[['jjhklb(C|2)', '#nbxh(C|50)', 'hydm(C|8)', 'djjg(C|20)', 'zczb(N|21|6)', 'jyzt(C|4)', 'clrq(D)', 'qylx(C|6)']]
new_revoke.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13516 entries, 25 to 3086371
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   jjhklb(C|2)   13516 non-null  int64
 1   #nbxh(C|50)   13516 non-null  int64
 2   hydm(C|8)     13516 non-null  object
 3   djjg(C|20)    13516 non-null  int64
 4   zczb(N|21|6)  13516 non-null  float64
 5   jyzt(C|4)     13514 non-null  float64
 6   clrq(D)       13516 non-null  object
 7   qylx(C|6)     13516 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 950.3+ KB

## 更改经营状态

In [43]:
# 主体登记表的经营状态填补为1
new_file['jyzt(C|4)'].fillna(value=1.0, inplace=True)

# 注吊销表的经营状态为0
new_revoke['jyzt(C|4)'] = 0.0

# jyzt大于1的全部调整为1
new_file['jyzt(C|4)'] = new_file['jyzt(C|4)'].astype(np.float)
new_file.loc[new_file['jyzt(C|4)'] > 0, 'jyzt(C|4)'] = 1
new_file.loc[new_file['jyzt(C|4)'] == 0, 'jyzt(C|4)'] = 0
new_file['jyzt(C|4)'] = new_file['jyzt(C|4)'].astype(np.int64)
print(new_file['jyzt(C|4)'].value_counts())
print(new_revoke['jyzt(C|4)'].value_counts())

1    1826316
Name: jyzt(C|4), dtype: int64
0.0    13516
Name: jyzt(C|4), dtype: int64

In [44]:
new_file[:2]

,jjhklb(C|2),#nbxh(C|50),hydm(C|8),djjg(C|20),zczb(N|21|6),jyzt(C|4),clrq(D),qylx(C|6)
0,3,142000009537608516,K7030,421023999,100.0,1,2019-07-11,1130
1,3,142000009537610596,L7299,421181002,10.0,1,2019-07-11,4540

In [45]:
new_revoke[:2]

,jjhklb(C|2),#nbxh(C|50),hydm(C|8),djjg(C|20),zczb(N|21|6),jyzt(C|4),clrq(D),qylx(C|6)
25,3,142000009537730056,E5090,420999,0.0,0.0,2019-07-10,2130
37,3,142000009537773001,K7030,422399,30.0,0.0,2019-07-11,1130

## 合并两表

In [46]:
new_file = pd.concat([new_file, new_revoke])
print(new_file.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 0 to 3086371
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   jjhklb(C|2)   1839832 non-null  int64
 1   #nbxh(C|50)   1839832 non-null  int64
 2   hydm(C|8)     1839832 non-null  object
 3   djjg(C|20)    1839832 non-null  int64
 4   zczb(N|21|6)  1839829 non-null  float64
 5   jyzt(C|4)     1839832 non-null  float64
 6   clrq(D)       1839832 non-null  object
 7   qylx(C|6)     1839832 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 126.3+ MB
None

## 更改列名

In [47]:
new_file.rename(
    columns={'jjhklb(C|2)': 'jjhklb', '#nbxh(C|50)': 'nbxh', 'hydm(C|8)':'hydm', 'djjg(C|20)':'djjg', 
             'zczb(N|21|6)':'zczb', 'jyzt(C|4)':'jyzt', 'clrq(D)':'clrq', 'qylx(C|6)':'qylx'}, 
    inplace=True)
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 0 to 3086371
Data columns (total 8 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1839832 non-null  int64
 1   nbxh    1839832 non-null  int64
 2   hydm    1839832 non-null  object
 3   djjg    1839832 non-null  int64
 4   zczb    1839829 non-null  float64
 5   jyzt    1839832 non-null  float64
 6   clrq    1839832 non-null  object
 7   qylx    1839832 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 126.3+ MB
None

   jjhklb                nbxh   hydm       djjg   zczb  jyzt        clrq  qylx
0       3  142000009537608516  K7030  421023999  100.0   1.0  2019-07-11  1130
1       3  142000009537610596  L7299  421181002   10.0   1.0  2019-07-11  4540

## 缺失值填补

`jjhklb`填补为众数

In [48]:
new_file['jjhklb'].fillna(new_file['jjhklb'].mode()[0], inplace=True)

`hydm`填补为众数

In [49]:
new_file['hydm'].fillna(new_file['hydm'].mode()[0], inplace=True)

`djjg`填补为临近值

In [50]:
# 用前值填补
new_file['djjg'].fillna(method = 'ffill', inplace = True)

`zczb`填补为众数

In [51]:
new_file['zczb'].fillna(new_file['zczb'].mode()[0], inplace=True)

`jyzt`填补为***0***

In [52]:
new_file['jyzt'].fillna(value = '0', inplace=True)

`clrq`填补为众数

In [53]:
new_file['clrq'].fillna(new_file['clrq'].mode()[0], inplace=True)

In [54]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 0 to 3086371
Data columns (total 8 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1839832 non-null  int64
 1   nbxh    1839832 non-null  int64
 2   hydm    1839832 non-null  object
 3   djjg    1839832 non-null  int64
 4   zczb    1839832 non-null  float64
 5   jyzt    1839832 non-null  float64
 6   clrq    1839832 non-null  object
 7   qylx    1839832 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 126.3+ MB

## 类型转换

登记机关转换为int后再转为str

In [55]:
new_file['djjg'] = new_file['djjg'].astype(np.int64)

In [56]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 0 to 3086371
Data columns (total 8 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1839832 non-null  int64
 1   nbxh    1839832 non-null  int64
 2   hydm    1839832 non-null  object
 3   djjg    1839832 non-null  int64
 4   zczb    1839832 non-null  float64
 5   jyzt    1839832 non-null  float64
 6   clrq    1839832 non-null  object
 7   qylx    1839832 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 126.3+ MB

## 行业代码只提取第一个

In [57]:
new_file['hydm'] = new_file['hydm'].str[0]
new_file[:2]

   jjhklb                nbxh hydm       djjg   zczb  jyzt        clrq  qylx
0       3  142000009537608516    K  421023999  100.0   1.0  2019-07-11  1130
1       3  142000009537610596    L  421181002   10.0   1.0  2019-07-11  4540

In [58]:
new_file['nbxh'] = new_file['nbxh'].astype(np.int64)

## 设置nbxh为索引

In [59]:
new_file.set_index('nbxh', inplace=True)
new_file[:2]

                    jjhklb hydm       djjg   zczb  jyzt        clrq  qylx
nbxh
142000009537608516       3    K  421023999  100.0   1.0  2019-07-11  1130
142000009537610596       3    L  421181002   10.0   1.0  2019-07-11  4540

# 分类

In [60]:
new_file.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   jjhklb  1839832 non-null  int64
 1   hydm    1839832 non-null  object
 2   djjg    1839832 non-null  int64
 3   zczb    1839832 non-null  float64
 4   jyzt    1839832 non-null  float64
 5   clrq    1839832 non-null  object
 6   qylx    1839832 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 112.3+ MB

## 划分企业年限

总会有些特殊情况

In [61]:
new_file['time'] = 2022 - new_file['clrq'].str[:4].astype(np.int64)

In [62]:
new_file['time_scale'] = None
new_file.loc[new_file['time'] <= 1, 'time_scale'] = '1'
new_file.loc[((new_file['time'] > 1) & (new_file['time'] <= 2)), 'time_scale'] = '2'
new_file.loc[((new_file['time'] > 2) & (new_file['time'] <= 3)), 'time_scale'] = '3'
new_file.loc[((new_file['time'] > 3) & (new_file['time'] <= 4)), 'time_scale'] = '4'
new_file.loc[((new_file['time'] > 4) & (new_file['time'] <= 5)), 'time_scale'] = '5'
new_file.loc[((new_file['time'] > 5) & (new_file['time'] <= 6)), 'time_scale'] = '6'
new_file.loc[((new_file['time'] > 6) & (new_file['time'] <= 7)), 'time_scale'] = '7'
new_file.loc[((new_file['time'] > 7) & (new_file['time'] <= 8)), 'time_scale'] = '8'
new_file.loc[((new_file['time'] > 8) & (new_file['time'] <= 9)), 'time_scale'] = '9'
new_file.loc[((new_file['time'] > 9) & (new_file['time'] <= 10)), 'time_scale'] = '10'
new_file.loc[new_file['time'] > 10, 'time_scale'] = '11'

In [63]:
new_file.drop(['clrq', 'time'], axis=1, inplace=True)

In [64]:
new_file[:2]

                    jjhklb hydm       djjg   zczb  jyzt  qylx time_scale
nbxh
142000009537608516       3    K  421023999  100.0   1.0  1130          3
142000009537610596       3    L  421181002   10.0   1.0  4540          3

## 地区分类

In [65]:
new_file['city'] = None
new_file['djjg'] = new_file['djjg'].astype(str)
new_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   jjhklb      int64
 1   hydm        object
 2   djjg        object
 3   zczb        float64
 4   jyzt        float64
 5   qylx        int64
 6   time_scale  object
 7   city        object
dtypes: float64(2), int64(2), object(4)
memory usage: 126.3+ MB

In [66]:
new_file.loc[(new_file['djjg'].str[:4] == '4201'), 'city'] = '武汉市'
new_file.loc[(new_file['djjg'].str[:4] == '4202'), 'city'] = '黄石市'
new_file.loc[(new_file['djjg'].str[:4] == '4203'), 'city'] = '十堰市'
new_file.loc[(new_file['djjg'].str[:4] == '4205'), 'city'] = '宜昌市'
new_file.loc[(new_file['djjg'].str[:4] == '4206'), 'city'] = '襄阳市'
new_file.loc[(new_file['djjg'].str[:4] == '4207'), 'city'] = '鄂州市'
new_file.loc[(new_file['djjg'].str[:4] == '4208'), 'city'] = '荆门市'
new_file.loc[(new_file['djjg'].str[:4] == '4209'), 'city'] = '孝感市'
new_file.loc[(new_file['djjg'].str[:4] == '4210'), 'city'] = '荆州市'
new_file.loc[(new_file['djjg'].str[:4] == '4211'), 'city'] = '黄冈市'

new_file.loc[(new_file['djjg'].str[:4] == '4212'), 'city'] = '咸宁市'
new_file.loc[(new_file['djjg'].str[:4] == '4223'), 'city'] = '咸宁市'

new_file.loc[(new_file['djjg'].str[:4] == '4213'), 'city'] = '随州市'
new_file.loc[(new_file['djjg'].str[:4] == '4228'), 'city'] = '恩施州'
new_file.loc[(new_file['djjg'].str[:6] == '429004'), 'city'] = '仙桃市'
new_file.loc[(new_file['djjg'].str[:6] == '429005'), 'city'] = '潜江市'
new_file.loc[(new_file['djjg'].str[:6] == '429006'), 'city'] = '天门市'
new_file.loc[(new_file['djjg'].str[:6] == '429021'), 'city'] = '神农架林区'

new_file.loc[(new_file['djjg'] == '429900'), 'city'] = '武汉市'

In [67]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   djjg        1839832 non-null  object
 3   zczb        1839832 non-null  float64
 4   jyzt        1839832 non-null  float64
 5   qylx        1839832 non-null  int64
 6   time_scale  1839832 non-null  object
 7   city        1839832 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 126.3+ MB

In [68]:
new_file.drop(['djjg'], axis=1, inplace=True)

In [69]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   zczb        1839832 non-null  float64
 3   jyzt        1839832 non-null  float64
 4   qylx        1839832 non-null  int64
 5   time_scale  1839832 non-null  object
 6   city        1839832 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 112.3+ MB

## 三次产业分类

In [70]:
new_file['three'] = None
new_file.loc[new_file['hydm'] == 'A', 'three'] = '1'
second = ['B', 'C', 'D', 'E']
for i in second:
    new_file.loc[new_file['hydm'] == i, 'three'] = '2'
third = ['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'Z']
for i in third:
    new_file.loc[new_file['hydm'] == i, 'three'] = '3'

In [71]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   zczb        1839832 non-null  float64
 3   jyzt        1839832 non-null  float64
 4   qylx        1839832 non-null  int64
 5   time_scale  1839832 non-null  object
 6   city        1839832 non-null  object
 7   three       1839832 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 126.3+ MB

## 规模分类

In [72]:
new_file['scale'] = None
new_file.loc[new_file['zczb'] <= 100, 'scale'] = '1'
new_file.loc[((new_file['zczb'] > 100) & (new_file['zczb'] <= 1_000)), 'scale'] = '2'
new_file.loc[((new_file['zczb'] > 1_000) & (new_file['zczb'] <= 10_000)), 'scale'] = '3'
new_file.loc[((new_file['zczb'] > 10_000) & (new_file['zczb'] <= 20_000)), 'scale'] = '4'
new_file.loc[new_file['zczb'] > 20_000, 'scale'] = '5'

In [73]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   zczb        1839832 non-null  float64
 3   jyzt        1839832 non-null  float64
 4   qylx        1839832 non-null  int64
 5   time_scale  1839832 non-null  object
 6   city        1839832 non-null  object
 7   three       1839832 non-null  object
 8   scale       1839832 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 140.4+ MB

In [74]:
new_file[:2]

                    jjhklb hydm   zczb  jyzt  qylx time_scale city three scale
nbxh
142000009537608516       3    K  100.0   1.0  1130          3  荆州市     3     1
142000009537610596       3    L   10.0   1.0  4540          3  黄冈市     3     1

In [75]:
new_file.drop(['zczb'], axis=1, inplace=True)
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 126.3+ MB
None

                    jjhklb hydm  jyzt  qylx time_scale city three scale
nbxh
142000009537608516       3    K   1.0  1130          3  荆州市     3     1
142000009537610596       3    L   1.0  4540          3  黄冈市     3     1

# 添加特征

## 添加特征X1_2、X3、X4

这三个特征赋值为1

In [76]:
new_file['X1_2'] = 1
new_file['X3'] = 1
new_file['X4'] = 1

In [77]:
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 168.4+ MB

## 将固定企业类型的公积金赋值为0

让企业类型为1151 4540 2151的公积金那里给0

In [78]:
new_file['X4'].value_counts()

1    1839832
Name: X4, dtype: int64

In [79]:
for i in tqdm([1151, 4540, 2125]):
    new_file.loc[new_file[(new_file['qylx'] == i)].index, 'X4'] = 0
new_file['X4'].value_counts()

100%|█████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  6.84it/s]

1    1096545
0     743287
Name: X4, dtype: int64

In [80]:
new_file['X4'].value_counts()[1] / (new_file['X4'].value_counts()[1] + new_file['X4'].value_counts()[0])

0.5960027872110062

In [81]:
new_file[:2]

,jjhklb,hydm,jyzt,qylx,time_scale,city,three,scale,X1_2,X3,X4
nbxh,,,,,,,,,,,
142000009537608516,3,K,1.0,1130,3,荆州市,3,1,1,1,1
142000009537610596,3,L,1.0,4540,3,黄冈市,3,1,1,1,0

## 添加特征X5、X6、X12、X13、X15（来自企业变更表）

- X5：企业变更备案次数
- X6：企业变更备案类别数 
- X12：投资资本类变更类型数 
- X13：投资资本类变更次数
- X15：分支机构注吊销数量

### 读取企业变更表

In [83]:
qybg_file = pd.read_excel('./8月份活跃度数据/变更情况表/exportsql.20220824103216.gbk.xls')
print(qybg_file.info(null_counts = True))
qybg_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122001 entries, 0 to 122000
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   nbxh(C|50)  122001 non-null  int64
 1   bgsx(C|10)  122001 non-null  int64
 2   cqrq(D)     122001 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.8+ MB
None

           nbxh(C|50)  bgsx(C|10)     cqrq(D)
0  160000020556663484         113  2022-08-10
1  160000021745341564         117  2022-08-23

### 提取特征X5

In [84]:
nums = qybg_file['nbxh(C|50)'].value_counts()
nums

160000021792674047    20
160000020191533970    20
160000020737657759    20
24250000012530645     19
160000020172396834    19
                      ..
160000021292497609     1
142000009093002909     1
160000020407730025     1
24250000012598316      1
160000020657116690     1
Name: nbxh(C|50), Length: 36771, dtype: int64

#### nums为series,将其变为dataframes

In [85]:
dict_nums = {'nbxh':nums.index, 'X5':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X5
0  160000021792674047  20
1  160000020191533970  20
                    X5
nbxh
160000021792674047  20
160000020191533970  20
<class 'pandas.core.frame.DataFrame'>
Int64Index: 36771 entries, 160000021792674047 to 160000020657116690
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X5      36771 non-null  int64
dtypes: int64(1)
memory usage: 574.5 KB
None

#### join

In [86]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 12 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          25468 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 247.0+ MB

In [87]:
# 缺失值填补
new_file['X5'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 12 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 247.0+ MB

### 提取特征X6

In [88]:
qybg_file.drop(['cqrq(D)'], axis=1, inplace=True)
qybg_grouped = qybg_file.groupby('nbxh(C|50)')
qybg_grouped.size()

nbxh(C|50)
2420200000002052      1
2420200000002300      4
2420200000003147      2
2420200000004876      2
2420200000006743      5
                     ..
442010000019651844    5
442010000019651866    8
442010000019652258    1
442010000019652467    2
442010000019652538    5
Length: 36771, dtype: int64

#### 统计每个nbxh的每个变更事项出现次数

In [89]:
cate = qybg_grouped['bgsx(C|10)'].value_counts()
list_cate = list(cate.index)
print(len(list_cate))
res_cate = [list(ele) for ele in list_cate]
res_cate[:5]

119755

[[2420200000002052, 129],
 [2420200000002300, 112],
 [2420200000002300, 113],
 [2420200000002300, 115],
 [2420200000002300, 939]]

In [90]:
indexs = [i[0] for i in res_cate] 
print(indexs[:5])
df_indexs = pd.DataFrame(indexs)
df_indexs[:5]

[2420200000002052, 2420200000002300, 2420200000002300, 2420200000002300, 2420200000002300]

                  0
0  2420200000002052
1  2420200000002300
2  2420200000002300
3  2420200000002300
4  2420200000002300

In [91]:
nums = df_indexs[0].value_counts()

####  nums为series,将其变为dataframes

In [92]:
dict_nums = {'nbxh':nums.index, 'X6':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
df_nums.info(null_counts = True)

                 nbxh  X6
0  160000021792674047  19
1  160000020941217326  16
                    X6
nbxh
160000021792674047  19
160000020941217326  16
<class 'pandas.core.frame.DataFrame'>
Int64Index: 36771 entries, 160000021792674047 to 160000020678407348
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X6      36771 non-null  int64
dtypes: int64(1)
memory usage: 574.5 KB

#### join

In [93]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          25468 non-null    float64
dtypes: float64(3), int64(5), object(5)
memory usage: 261.0+ MB

In [94]:
# 缺失值填补
new_file['X6'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
dtypes: float64(3), int64(5), object(5)
memory usage: 261.0+ MB

### X12、X13（保留变更事项与投资资本相关列）

  也就是保存bgsx(C|10) ==120, 170, 700, 134, 118, 155, 117, 127, 136, 154, 914, 131, 923的列

In [95]:
bgsx_M = [120, 170, 700, 134, 118, 155, 117, 127, 136, 154, 914, 131, 923]
for i in bgsx_M:
    if i == 120:
        qybg_file_M = qybg_file[qybg_file['bgsx(C|10)'] == i]
    else:
        qybg_file_M = pd.concat([qybg_file_M, qybg_file[qybg_file['bgsx(C|10)'] == i]])
        
print(qybg_file_M[:5])
qybg_file_M.info(null_counts = True)

            nbxh(C|50)  bgsx(C|10)
9   420000000008987832         120
24   24250000012604152         120
31  160000021501414716         120
36  160000021267689156         120
76  142000007010804325         120
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12549 entries, 9 to 119897
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nbxh(C|50)  12549 non-null  int64
 1   bgsx(C|10)  12549 non-null  int64
dtypes: int64(2)
memory usage: 294.1 KB

### 提取特征X12

In [96]:
qybg_grouped = qybg_file_M.groupby('nbxh(C|50)')
qybg_grouped.size()

nbxh(C|50)
2420200000051497      1
2420200000123850      1
2421000000121260      1
2421000000128439      1
2421000000158646      1
                     ..
442010000019007309    3
442010000019007439    1
442010000019007528    1
442010000019329953    1
442010000019651844    1
Length: 9132, dtype: int64

#### 统计每个nbxh的每个变更事项出现次数

In [97]:
cate = qybg_grouped['bgsx(C|10)'].value_counts()
# 层次化索引cate.index变列表
list_cate = list(cate.index)
print(len(list_cate))
res_cate = [list(ele) for ele in list_cate]
res_cate[:5]

12233

[[2420200000051497, 131],
 [2420200000123850, 131],
 [2421000000121260, 131],
 [2421000000128439, 131],
 [2421000000158646, 131]]

现在获取nbxh的重复次数，就是该nbxh变更事项的类别数

In [98]:
indexs = [i[0] for i in res_cate] 
print(indexs[:5])
df_indexs = pd.DataFrame(indexs)
df_indexs[:5]

[2420200000051497, 2420200000123850, 2421000000121260, 2421000000128439, 2421000000158646]

                  0
0  2420200000051497
1  2420200000123850
2  2421000000121260
3  2421000000128439
4  2421000000158646

In [99]:
nums = df_indexs[0].value_counts()
nums[:5]

420000000009232019    4
160000021389184035    4
160000021049028344    4
420000000008749607    4
160000020240835282    4
Name: 0, dtype: int64

#### nums为series,将其变为dataframes

In [100]:
dict_nums = {'nbxh':nums.index, 'X12':nums.values}
df_nums = pd.DataFrame(dict_nums)
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
df_nums.info(null_counts = True)

                    X12
nbxh
420000000009232019    4
160000021389184035    4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9132 entries, 420000000009232019 to 442010000019651844
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X12     9132 non-null   int64
dtypes: int64(1)
memory usage: 142.7 KB

####  join

In [101]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 14 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
 13  X12         8655 non-null     float64
dtypes: float64(4), int64(5), object(5)
memory usage: 275.1+ MB

In [102]:
# 缺失值填补
new_file['X12'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 14 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
 13  X12         1839832 non-null  float64
dtypes: float64(4), int64(5), object(5)
memory usage: 275.1+ MB

### 提取特征X13

In [103]:
nums = qybg_file_M['nbxh(C|50)'].value_counts()
nums[:5]

160000020240835282    8
160000020759797408    5
420000000008793188    5
420000000009142940    5
442010000000600478    5
Name: nbxh(C|50), dtype: int64

#### nums为series,将其变为dataframes

In [104]:
dict_nums = {'nbxh':nums.index, 'X13':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X13
0  160000020240835282    8
1  160000020759797408    5
                    X13
nbxh
160000020240835282    8
160000020759797408    5
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9132 entries, 160000020240835282 to 24250000012850187
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X13     9132 non-null   int64
dtypes: int64(1)
memory usage: 142.7 KB
None

#### join

In [105]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
 13  X12         1839832 non-null  float64
 14  X13         8655 non-null     float64
dtypes: float64(5), int64(5), object(5)
memory usage: 289.1+ MB

In [106]:
# 缺失值填补
new_file['X13'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
 13  X12         1839832 non-null  float64
 14  X13         1839832 non-null  float64
dtypes: float64(5), int64(5), object(5)
memory usage: 289.1+ MB

### 提取特征X15（本月没有）

`企业变更表`中`bgsx(C|10)`变更事项`165`为撤销分支机构，可提取`X15`

In [107]:
qybg_file[qybg_file['bgsx(C|10)'] == 165]

Empty DataFrame
Columns: [nbxh(C|50), bgsx(C|10)]
Index: []

#### 将X15列赋值为0

In [108]:
new_file['X15'] = 0
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 142000009537608516 to 160000020905222648
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839832 non-null  int64
 1   hydm        1839832 non-null  object
 2   jyzt        1839832 non-null  float64
 3   qylx        1839832 non-null  int64
 4   time_scale  1839832 non-null  object
 5   city        1839832 non-null  object
 6   three       1839832 non-null  object
 7   scale       1839832 non-null  object
 8   X1_2        1839832 non-null  int64
 9   X3          1839832 non-null  int64
 10  X4          1839832 non-null  int64
 11  X5          1839832 non-null  float64
 12  X6          1839832 non-null  float64
 13  X12         1839832 non-null  float64
 14  X13         1839832 non-null  float64
 15  X15         1839832 non-null  int64
dtypes: float64(5), int64(6), object(5)
memory usage: 303.1+ MB

## 添加特征X7(分支机构开设数量，来自分支机构表)

### 读取文件

In [109]:
fzjg_file = pd.read_excel('./8月份活跃度数据/分支机构表/exportsql.20220824103436.gbk.xls')
print(fzjg_file.info(null_counts = True))
fzjg_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5142 entries, 0 to 5141
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh(C|50)       5142 non-null   int64
 1   qymc(C|300)      5142 non-null   object
 2   uniscid(C|50)    5142 non-null   object
 3   zch(C|50)        5141 non-null   float64
 4   fzrxm(C|500)     5142 non-null   object
 5   ENTNAME(C|301)   5132 non-null   object
 6   LEREP(C|151)     2667 non-null   object
 7   REGCAP(N|18|6)   2513 non-null   float64
 8   ACCONAM(N|18|6)  0 non-null      float64
 9   OPLOC(C|451)     2459 non-null   object
 10  OPSCOPE(C|3001)  2493 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 442.0+ KB
None

,nbxh(C|50),qymc(C|300),uniscid(C|50),zch(C|50),fzrxm(C|500),ENTNAME(C|301),LEREP(C|151),REGCAP(N|18|6),ACCONAM(N|18|6),OPLOC(C|451),OPSCOPE(C|3001)
0,160000020265279095,江苏小邮快跑跨境电商服务有限公司襄阳分公司,91420600MA49EMK57K,4.206000e+14,吴小康,江苏小邮快跑跨境电商服务有限公司,罗时波,1000.0,NaN,昆山市花桥镇绿地大道258号1-1-833室,NaN
1,160000020265964482,湖北宜都清江肉联有限公司旗舰店,91420581MA49EMYJ0Y,4.205810e+14,陈绪华,湖北宜都清江肉联有限公司,NaN,NaN,NaN,NaN,NaN

In [110]:
nums_fzjg = fzjg_file['ENTNAME(C|301)'].value_counts()
nums_fzjg[:5]

湖北益丰大药房连锁有限公司      57
中国联合网络通信有限公司       43
湖北吴都药业连锁有限公司       35
襄阳普天独活大药房连锁有限公司    32
湖北省昌盛大药房有限公司       28
Name: ENTNAME(C|301), dtype: int64

### fzjg_nums为series,将其变为dataframes

In [111]:
dict_nums_fzjg = {'ENTNAME':nums_fzjg.index, 'X7':nums_fzjg.values}
df_nums_fzjg = pd.DataFrame(dict_nums_fzjg)
print(df_nums_fzjg[:5])
df_nums_fzjg.info(null_counts = True)

           ENTNAME  X7
0    湖北益丰大药房连锁有限公司  57
1     中国联合网络通信有限公司  43
2     湖北吴都药业连锁有限公司  35
3  襄阳普天独活大药房连锁有限公司  32
4     湖北省昌盛大药房有限公司  28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ENTNAME  3471 non-null   object
 1   X7       3471 non-null   int64
dtypes: int64(1), object(1)
memory usage: 54.4+ KB

### 找到对应的nbxh

In [112]:
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg.set_index('ENTNAME', inplace=True)# 以企业名称为索引进行join操作
temp_name = file[['#nbxh(C|50)', 'qymc(C|300)']]# 提取内部序号和企业名称
temp_name.set_index('qymc(C|300)', inplace=True)# 企业名称为索引
df_nums_fzjg = df_nums_fzjg.join(temp_name)
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg = df_nums_fzjg.reset_index()# 重设索引，且不替换掉企业名称
print(df_nums_fzjg.info(null_counts = True))

df_nums_fzjg.drop_duplicates(subset=['index'], keep='first', inplace=True)# 去除重复，join带来的重复，需要思考
print(df_nums_fzjg.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ENTNAME  3471 non-null   object
 1   X7       3471 non-null   int64
dtypes: int64(1), object(1)
memory usage: 54.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 3485 entries, 91330304MA285UDC8A to 龙腾国信工程咨询有限公司
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X7           3485 non-null   int64
 1   #nbxh(C|50)  2192 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 81.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        3485 non-null   object
 1   X7           3485 non-null   int64
 2   #nbxh(C|50)  2192 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 81.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3471 entries, 0 to 3484
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        3471 non-null   object
 1   X7           3471 non-null   int64
 2   #nbxh(C|50)  2178 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 108.5+ KB
None

### 删除空值

In [113]:
df_nums_fzjg.dropna(inplace=True)
df_nums_fzjg['#nbxh(C|50)'] = df_nums_fzjg['#nbxh(C|50)'].astype(np.int64)
df_nums_fzjg.set_index('#nbxh(C|50)', inplace=True)
df_nums_fzjg.drop(['index'], axis=1, inplace=True)
print(df_nums_fzjg.info(null_counts = True))
df_nums_fzjg[:5]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2178 entries, 442010000000549824 to 24250000012915656
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X7      2178 non-null   int64
dtypes: int64(1)
memory usage: 34.0 KB
None

                    X7
#nbxh(C|50)
442010000000549824   1
24250000012580616    1
24250000012681928    1
142000000081993328   1
142000007019985168   1

### join

In [114]:
new_file = new_file.join(df_nums_fzjg)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 17 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          527 non-null      float64
dtypes: float64(6), int64(6), object(5)
memory usage: 252.7+ MB

In [115]:
# 缺失值填补
new_file['X7'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 17 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 252.7+ MB

## 添加特征X10、 X11（来自企业关系人表）

- X10 投资次数     
- X11 投资总额

In [21]:
invest = pd.read_excel('./8月份活跃度数据/企业关系人表/exportsql.20220824101442.gbk.xls')
invest.rename(columns = {'tznbxh(C|250)':'nbxh', 'tze(N|18|6)':'tze'}, inplace=True)
invest.info(null_counts = True)
invest[:10]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nbxh             64 non-null     float64
 1   tze              103 non-null    float64
 2   zrrlx(C|2)       536 non-null    int64
 3   person_id(C|45)  536 non-null    int64
 4   rjcze(N|18|6)    536 non-null    float64
 5   czsj(D)          536 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 25.2+ KB

,nbxh,tze,zrrlx(C|2),person_id(C|45),rjcze(N|18|6),czsj(D)
0,NaN,NaN,4,160000003804997877,80.00,2022-08-09
1,1.600000e+17,NaN,4,160000021743166515,3880.00,2022-08-01
2,NaN,NaN,4,160000021778883959,10.00,2022-08-11
3,NaN,NaN,4,160000021802829032,35.00,2022-08-12
4,NaN,1.75,4,4420100002773422,1.75,2022-08-25
5,1.600000e+17,NaN,4,160000021788960153,15.00,2022-08-31
6,2.425000e+16,NaN,4,160000004995352861,3000.00,2022-09-01
7,NaN,NaN,4,160000021779158847,95.00,2022-08-12
8,NaN,NaN,4,160000021759229146,9.90,2022-08-09
9,1.600000e+17,NaN,4,160000021759370701,46.00,2022-08-04

In [23]:
# 不显示科学计数法
pd.set_option('display.float_format', lambda x: '%.3f' % x)
invest = invest.dropna(subset=['nbxh', 'tze'])
invest['nbxh'] = invest['nbxh'].astype(np.int64)
invest

,nbxh,tze,zrrlx(C|2),person_id(C|45),rjcze(N|18|6),czsj(D)
256,420000000008816256,1500.000,4,4420100003055875,1500.000,2022-08-10

### 提取特征X10

In [118]:
nums = invest['nbxh'].value_counts()
nums

420000000008816256    1
Name: nbxh, dtype: int64

#### nums为series,将其变为dataframes

In [119]:
dict_nums = {'nbxh':nums.index, 'X10':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X10
0  420000000008816256    1
                    X10
nbxh
420000000008816256    1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 420000000008816256 to 420000000008816256
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X10     1 non-null      int64
dtypes: int64(1)
memory usage: 16.0 bytes
None

#### join

In [120]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 18 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         0 non-null        float64
dtypes: float64(7), int64(6), object(5)
memory usage: 266.7+ MB

In [121]:
# 缺失值填补
new_file['X10'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 18 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
dtypes: float64(7), int64(6), object(5)
memory usage: 266.7+ MB

### 提取特征X11

In [122]:
sums = invest.groupby('nbxh')['tze'].agg('sum')
sums

nbxh
420000000008816256   1500.000
Name: tze, dtype: float64

#### sums为series,将其变为dataframes

In [123]:
dict_sums = {'nbxh':sums.index, 'X11':sums.values}
df_sums = pd.DataFrame(dict_sums)
print(df_sums[:2])
df_sums.set_index('nbxh', inplace=True)
print(df_sums[:2])
print(df_sums.info(null_counts = True))

                 nbxh      X11
0  420000000008816256 1500.000
                        X11
nbxh
420000000008816256 1500.000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 420000000008816256 to 420000000008816256
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X11     1 non-null      float64
dtypes: float64(1)
memory usage: 16.0 bytes
None

#### join

In [124]:
new_file = new_file.join(df_sums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 19 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
 18  X11         0 non-null        float64
dtypes: float64(8), int64(6), object(5)
memory usage: 280.7+ MB

In [125]:
# 缺失值填补
new_file['X11'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 19 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
 18  X11         1839845 non-null  float64
dtypes: float64(8), int64(6), object(5)
memory usage: 280.7+ MB

## 添加特征X14（迁移申请次数，来自迁移表）

### 读取并查看

In [126]:
qycs_file = pd.read_excel('./8月份活跃度数据/迁移信息表/exportsql.20220824103336.gbk.xls')
print(qycs_file.info(null_counts = True))
qycs_file[:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID(C|75)                  1913 non-null   int64
 1   MARPRID(C|75)             1913 non-null   int64
 2   ENTNAME(C|500)            1913 non-null   object
 3   LEREP(C|300)              1056 non-null   object
 4   REGCAP(N|18|6)            1026 non-null   float64
 5   ACCONAM(N|18|6)           1 non-null      float64
 6   CURRENCY(C|5)             54 non-null     float64
 7   OPLOC(C|500)              994 non-null    object
 8   OPSCOPE(C|4000)           990 non-null    object
 9   ENTTYPE(C|10)             1896 non-null   float64
 10  ENTTYPEITEM(C|10)         1786 non-null   float64
 11  OPFROM(P)                 1869 non-null   object
 12  OPTO(P)                   370 non-null    object
 13  REGNO(C|75)               320 non-null    object
 14  EMAIL(C|200)              4 non-null      object
 15  COUNTRY(C|5)              1 non-null      float64
 16  INSYSSIGN(N|10|0)         1913 non-null   int64
 17  BATCH(C|1)                1913 non-null   int64
 18  MODIDATE(P)               1913 non-null   object
 19  ESTDATE(P)                1000 non-null   object
 20  PROVCODE(C|75)            1911 non-null   float64
 21  REMARK(C|2000)            15 non-null     object
 22  REGORGNAME(C|200)         1911 non-null   object
 23  FORENTNAME(C|300)         1 non-null      object
 24  STUFFTYPE(C|10)           1913 non-null   int64
 25  STUFFNAME(C|75)           1913 non-null   object
 26  SURPERFROM(P)             0 non-null      float64
 27  SURPERTO(P)               0 non-null      float64
 28  FORENTAUTSIGNNAME(C|300)  1 non-null      object
 29  FORENLIAFOR(C|5)          0 non-null      float64
 30  UNISCID(C|75)             1903 non-null   object
 31  ACCOUNTTYPE(C|5)          406 non-null    float64
 32  DISTCODE(C|50)            229 non-null    float64
 33  BUSIADDRESS(C|500)        720 non-null    object
dtypes: float64(12), int64(5), object(17)
memory usage: 508.3+ KB
None

,ID(C|75),MARPRID(C|75),ENTNAME(C|500),LEREP(C|300),REGCAP(N|18|6),ACCONAM(N|18|6),CURRENCY(C|5),OPLOC(C|500),OPSCOPE(C|4000),ENTTYPE(C|10),...,STUFFTYPE(C|10),STUFFNAME(C|75),SURPERFROM(P),SURPERTO(P),FORENTAUTSIGNNAME(C|300),FORENLIAFOR(C|5),UNISCID(C|75),ACCOUNTTYPE(C|5),DISTCODE(C|50),BUSIADDRESS(C|500)
0,160000021742290205,160000021742290174,湖北亿广建设有限公司,NaN,NaN,NaN,NaN,NaN,NaN,1100.000,...,8,隶属企业,NaN,NaN,NaN,NaN,91420600MA4F0BKY3U,NaN,NaN,NaN
1,160000021742320433,160000021742320404,武汉汉方药谷中医医院,陈顺波,50.000,NaN,NaN,武汉市武昌区民主路301号（老号253号）,许可项目：医疗服务；药品生产；药品批发；药品零售；中药饮片代煎服务；医疗美容服务（依法须经批...,4500.000,...,8,隶属企业,NaN,NaN,NaN,NaN,914201065584388101,NaN,NaN,武汉市武昌区民主路301号（老号253号）
2,160000021742335990,160000021742335962,湖北玉环建筑工程有限公司,NaN,NaN,NaN,NaN,NaN,NaN,1100.000,...,8,隶属企业,NaN,NaN,NaN,NaN,91421100706987193W,NaN,NaN,NaN

`MARPRID(C|75)`为 主体标识，查看在file中是否存在相应的内部序号

In [127]:
nbxh_list =   file['#nbxh(C|50)'].values
temp_sum = 0
for i in tqdm(qycs_file['MARPRID(C|75)']):
    if i in nbxh_list:
        temp_sum = temp_sum + 1
temp_sum

100%|██████████████████████████████████████████████████████████████████████████| 1913/1913 [00:03<00:00, 490.22it/s]

1883

可以看出绝大多数企业还是可以在主体登记表中找到的

In [128]:
nums = qycs_file['MARPRID(C|75)'].value_counts()
nums

160000021742290174    1
160000021794830843    1
160000021799583906    1
142000000089334188    1
160000021553624844    1
                     ..
160000021759725541    1
160000021759721118    1
160000021759716864    1
160000021759419964    1
160000021802873601    1
Name: MARPRID(C|75), Length: 1913, dtype: int64

### sums为series,将其变为dataframes

In [129]:
dict_nums = {'nbxh':nums.index, 'X14':nums.values}
df_nums = pd.DataFrame(dict_nums)
print(df_nums[:2])
df_nums.set_index('nbxh', inplace=True)
print(df_nums[:2])
print(df_nums.info(null_counts = True))

                 nbxh  X14
0  160000021742290174    1
1  160000021794830843    1
                    X14
nbxh
160000021742290174    1
160000021794830843    1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1913 entries, 160000021742290174 to 160000021802873601
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X14     1913 non-null   int64
dtypes: int64(1)
memory usage: 29.9 KB
None

### join

In [130]:
new_file = new_file.join(df_nums)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 20 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
 18  X11         1839845 non-null  float64
 19  X14         1909 non-null     float64
dtypes: float64(9), int64(6), object(5)
memory usage: 294.8+ MB

In [131]:
# 缺失值填补
new_file['X14'].fillna(value=0, inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 20 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
 18  X11         1839845 non-null  float64
 19  X14         1839845 non-null  float64
dtypes: float64(9), int64(6), object(5)
memory usage: 294.8+ MB

## 添加特征X8、X9、X16、X17、X18

这些特征无来源，都赋值为0

In [132]:
new_file['X8'] = 0
new_file['X9'] = 0
new_file['X16'] = 0
new_file['X17'] = 0
new_file['X18'] = 0
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 25 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X12         1839845 non-null  float64
 14  X13         1839845 non-null  float64
 15  X15         1839845 non-null  int64
 16  X7          1839845 non-null  float64
 17  X10         1839845 non-null  float64
 18  X11         1839845 non-null  float64
 19  X14         1839845 non-null  float64
 20  X8          1839845 non-null  int64
 21  X9          1839845 non-null  int64
 22  X16         1839845 non-null  int64
 23  X17         1839845 non-null  int64
 24  X18         1839845 non-null  int64
dtypes: float64(9), int64(11), object(5)
memory usage: 365.0+ MB

# 调整顺序

In [133]:
new_file.insert(13, 'X7', new_file.pop('X7'))
new_file.insert(14, 'X8', new_file.pop('X8'))
new_file.insert(15, 'X9', new_file.pop('X9'))
new_file.insert(16, 'X10', new_file.pop('X10'))
new_file.insert(17, 'X11', new_file.pop('X11'))
new_file.insert(18, 'X12', new_file.pop('X12'))
new_file.insert(19, 'X13', new_file.pop('X13'))
new_file.insert(20, 'X14', new_file.pop('X14'))
new_file.insert(21, 'X15', new_file.pop('X15'))
new_file.insert(22, 'X16', new_file.pop('X16'))
new_file.insert(23, 'X17', new_file.pop('X17'))
new_file.insert(24, 'X18', new_file.pop('X18'))
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839845 entries, 2420200000050231 to 442010000019652554
Data columns (total 25 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   jjhklb      1839845 non-null  int64
 1   hydm        1839845 non-null  object
 2   jyzt        1839845 non-null  float64
 3   qylx        1839845 non-null  int64
 4   time_scale  1839845 non-null  object
 5   city        1839845 non-null  object
 6   three       1839845 non-null  object
 7   scale       1839845 non-null  object
 8   X1_2        1839845 non-null  int64
 9   X3          1839845 non-null  int64
 10  X4          1839845 non-null  int64
 11  X5          1839845 non-null  float64
 12  X6          1839845 non-null  float64
 13  X7          1839845 non-null  float64
 14  X8          1839845 non-null  int64
 15  X9          1839845 non-null  int64
 16  X10         1839845 non-null  float64
 17  X11         1839845 non-null  float64
 18  X12         1839845 non-null  float64
 19  X13         1839845 non-null  float64
 20  X14         1839845 non-null  float64
 21  X15         1839845 non-null  int64
 22  X16         1839845 non-null  int64
 23  X17         1839845 non-null  int64
 24  X18         1839845 non-null  int64
dtypes: float64(9), int64(11), object(5)
memory usage: 365.0+ MB

In [134]:
new_file[:10]

,jjhklb,hydm,jyzt,qylx,time_scale,city,three,scale,X1_2,X3,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
2420200000050231,3,R,1.000,4540,11,黄石市,3,1,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
2422800000117935,3,Z,1.000,2130,8,恩施州,3,1,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3420800000070431,3,C,1.000,4540,11,荆门市,2,2,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3421100000105274,3,H,1.000,4540,9,黄冈市,3,1,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3429004000003400,3,Z,1.000,4540,11,仙桃市,3,1,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
3431300000047415,1,Z,1.000,2140,10,随州市,3,1,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000138,3,L,1.000,1100,11,黄石市,3,2,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000144,3,L,1.000,1100,11,武汉市,3,2,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000243,3,E,1.000,1100,11,武汉市,2,2,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
4420100000000315,3,K,1.000,1100,11,武汉市,3,3,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0

# 去除重复值

## 重设索引

In [135]:
new_file = new_file.reset_index()
print(new_file.info(null_counts = True))
new_file[:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839845 entries, 0 to 1839844
Data columns (total 26 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   index       1839845 non-null  int64
 1   jjhklb      1839845 non-null  int64
 2   hydm        1839845 non-null  object
 3   jyzt        1839845 non-null  float64
 4   qylx        1839845 non-null  int64
 5   time_scale  1839845 non-null  object
 6   city        1839845 non-null  object
 7   three       1839845 non-null  object
 8   scale       1839845 non-null  object
 9   X1_2        1839845 non-null  int64
 10  X3          1839845 non-null  int64
 11  X4          1839845 non-null  int64
 12  X5          1839845 non-null  float64
 13  X6          1839845 non-null  float64
 14  X7          1839845 non-null  float64
 15  X8          1839845 non-null  int64
 16  X9          1839845 non-null  int64
 17  X10         1839845 non-null  float64
 18  X11         1839845 non-null  float64
 19  X12         1839845 non-null  float64
 20  X13         1839845 non-null  float64
 21  X14         1839845 non-null  float64
 22  X15         1839845 non-null  int64
 23  X16         1839845 non-null  int64
 24  X17         1839845 non-null  int64
 25  X18         1839845 non-null  int64
dtypes: float64(9), int64(12), object(5)
memory usage: 365.0+ MB
None

,index,jjhklb,hydm,jyzt,qylx,time_scale,city,three,scale,X1_2,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
0,2420200000050231,3,R,1.000,4540,11,黄石市,3,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0
1,2422800000117935,3,Z,1.000,2130,8,恩施州,3,1,1,...,0,0.000,0.000,0.000,0.000,0.000,0,0,0,0

## 统计重复

In [136]:
new_file.rename(
    columns={'index': 'nbxh' }, 
    inplace=True)
re_nums = new_file['nbxh'].value_counts()
re_nums

420000000009275200    3
420000000008824832    3
420000000008868352    2
420000000009258240    2
24250000012805580     2
                     ..
160000000746436771    1
160000000746436569    1
160000000746435142    1
160000000746433481    1
442010000019652554    1
Name: nbxh, Length: 1839832, dtype: int64

## 删除重复

In [137]:
new_file.drop_duplicates(subset=['nbxh'], keep='first', inplace=True)
new_file.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839832 entries, 0 to 1839844
Data columns (total 26 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   nbxh        1839832 non-null  int64
 1   jjhklb      1839832 non-null  int64
 2   hydm        1839832 non-null  object
 3   jyzt        1839832 non-null  float64
 4   qylx        1839832 non-null  int64
 5   time_scale  1839832 non-null  object
 6   city        1839832 non-null  object
 7   three       1839832 non-null  object
 8   scale       1839832 non-null  object
 9   X1_2        1839832 non-null  int64
 10  X3          1839832 non-null  int64
 11  X4          1839832 non-null  int64
 12  X5          1839832 non-null  float64
 13  X6          1839832 non-null  float64
 14  X7          1839832 non-null  float64
 15  X8          1839832 non-null  int64
 16  X9          1839832 non-null  int64
 17  X10         1839832 non-null  float64
 18  X11         1839832 non-null  float64
 19  X12         1839832 non-null  float64
 20  X13         1839832 non-null  float64
 21  X14         1839832 non-null  float64
 22  X15         1839832 non-null  int64
 23  X16         1839832 non-null  int64
 24  X17         1839832 non-null  int64
 25  X18         1839832 non-null  int64
dtypes: float64(9), int64(12), object(5)
memory usage: 379.0+ MB

# 保存

In [138]:
path = './DataCleaning_revised_1.csv'
new_file.to_csv(path, index=False)